body {
  font-size: 14px;
  height: 100%;
  min-width: 400px;
  font-family: arial, sans-serif;
  margin: 0;
}

button>div {
  height: 24px;
  width: 24px;
  color: #4285f4;
  margin: auto;
}

button span {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  fill: currentColor;
}

/* CLASS SELECTORS*/

.advanced-search-bar:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}

.advanced-search-description {
  display: flex;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
}

.header {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  height: 48px;
}

.header>div {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header>div>a {
  text-decoration: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  display: inline-block;
  line-height: 24px;
}

.header>div>a:hover {
  text-decoration: underline;
}

.search-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-row>input {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  width: 50%;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

/* ID SELECTORS */

#advanced-header {
  justify-content: space-between;
}

#advanced-header img {
  height: 24px;
  width: 74px;
  vertical-align: middle;
}

#advanced-search-btn-container {
  width: 50%;
}

#advanced-search-btn-container input {
  min-width: 120px;
  background-color: #4d90fe;
  box-shadow: none;
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  outline: 0;
  height: 30px;
  margin: 10px 0;
  float: right;
  margin-right: -17.6px;
}

#advanced-search-container {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}

#advanced-search-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#advanced-search-label {
  font-size: 16px;
  min-height: 42px;
  font-weight: 500;
  color: #333;
  align-items: baseline;
}

#bar-container {
  display: flex;
  min-height: 41px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
  padding: 5px 8px 0 14px;
}

#bar-container:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

#bar-container input {
  margin-bottom: 7px;
  line-height: 22px;
  overflow-x: hidden;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  border: none;
  flex: 100%;
  font-size: 16px;
  outline: none;
}

#border {
  border-bottom: 1px solid #ebebeb;
}

#bottom-container {
  padding: 20px;
  max-height: 160px;
  text-align: center;
}

#bottom-container button {
  margin-top: -5px;
  flex: 0 0 auto;
  height: 44px;
  width: 44px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#bottom-container>form>div {
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
  position: relative;
}

#button-container {
  height: 70px;
  padding-top: 18px;
}

#button-container input {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  cursor: pointer;
  min-width: 54px;
  font-size: 14px;
}

#button-container input:hover {
  border: 1px solid #dadce0;
  color: #202124;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#search-logo-container {
  display: flex;
  align-items: center;
  padding-right: 13px;
  height: 46px;
  margin-top: -5px;
}

#search-logo-container span {
  color: #9aa0a6;
  margin-top: 3px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  display: inline-block;
  position: relative;
}

#search-logo-container svg {
  display: block;
  height: 100%;
  width: 100%;
  fill: currentColor;
}

#title {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px 25px 45px;
  padding: 0;
  vertical-align: baseline;
}

#top-container {
  display: flex;
  min-height: 92px;
  max-height: 290px;
  height: calc(100% - 560px);
  justify-content: center;
}

#top-container>div {
  position: relative;
  max-height: 92px;
  margin-top: auto;
  height: 100%;
}

#top-container img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

#top-container span {
  color: #4285f4;
  font-size: 16px;
  position: absolute;
  left: 215px;
  bottom: 0;
}