body {
  padding: 20px;
  background-color: #FFFBEB;
  color: #393E46;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
}

input {
  border: none;
  border-radius: 5px;
  color: #393E46;
  background-color: #FFFBEB;
}

input[type=file] {
  display: none;
}

input[type=number] {
  height: 30px;
  padding-bottom: 3px;
  padding-left: 17px;
  width: 100px;
}

textarea {
  background-color: #FFFBEB;
  border: none;
  border-radius: 10px;
  height: 400px;
  padding: 5px;
  resize: none;
  width: 100%;
}

.alert {
  background-color: #EF6262;
  padding: 10px;
  position: absolute;
  right: 60px;
  top: 30px;
}

.comment {
  font-size: 1.1rem;
}

.div-index {
  background-color: #FAF3F3;
  border-radius: 10px;
  color: black;
}

.flex-column-mid {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list {
  font-size: 1.25rem;
}

.listing-container {
  background-color: #E1E5EA;
  border-radius: 15px;
  display: flex;
  height: 40vh;
  margin: 10px;
  padding: 5px;
}

.listing-container > div {
  display: flex;
  justify-content: center;
  max-width: 400px;
  min-width: 200px;
  padding: 5px;
  width: 25%;
}

.listing-container li {
  flex: 1;
  list-style: none;
}

.listing-container a {
  display: inherit;
}

.listing-container img {
  object-fit: contain;
  min-width: 100px;
  width: 100%;
}

.listing-details {
  display: flex;
  height: 100%;
}

.listing-details a {
  color: black;
}

.listing-details ul a {
  color: #FAF3F3;
}

.listing-details a:hover {
  color: #E1E5EA;
}

.listing-details > div {
  margin-left: 5px;
  padding: 10px;
}

.listing-left {
  width: 400px;
}

.listing-right {
  flex: 1;
  height: 100%;
}

.listing-right > div {
  height: 50%;
}

.nav-link {
  color: #393E46;
}

.nav-link:hover {
  color: #6D9886;
}

.watching {
  position: relative;
}

#add-button {
  display: flex;
  justify-content: flex-end;
  min-width: 150px;
}

#bid-form {
  display: flex;
  font-size: 14px;
  line-height: 25px;
  margin: 0 !important;
  position: relative;
  text-align: center;
  width: 100%;
}

#bid-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bid-form input {
  font-size: 14px;
  height: 40px;
  margin: 5px;
  padding-left: 20px;
  width: 250px;
}

#bid-form button {
  margin: 5px;
  width: 250px;
}

#bids-container {
  display: flex;
  justify-content: space-between;
}

#bids-container > div {
  width: 50%;
}

#bids-container > div > div {
  display: inline-block;
  position: relative;
}

#bids-container > div > div > div {
  position: absolute;
  right: 85px;
  top: 2px;
}

#btn-watchlist {
  height: 60%;
  padding: 3px;
  width: 200px;
}

#buttons-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

#buy-form {
  min-width: 260px;
}

#description-container {
  display: flex;
  justify-content: space-between;
}

#detail-container {
  margin-right: 20px;
  width: 600px;
}

#detail-container > div {
  margin: 20px 0 0 50px;
}

#dollar {
  left: 55px;
  position: absolute;
  top: 48px;
}

#empty-space {
  height: 445px;
  width: 100%;
}

#listing-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 20px;
}

#listing-bottom form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 500px;
}

#listing-bottom form input {
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  height: 50px;
  padding-left: 10px;
  width: 100%;
}

#listing-bottom form button {
  margin-top: 10px;
  width: 150px;
}

#listing-bottom li {
  background-color: #FAF3F3;
  border-radius: 15px;
  display: inline-block;
  list-style: none;
  margin-bottom: 4px;
  padding: 5px 10px;
}

#listing-bottom ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0;
  width: 70%;
}

#listing-main {
  width: 100%;
  justify-content: center;
  display: flex;
}

#listing-main > div {
  display: inline-block;
  margin: 10px 20px;
}

#listing-main > div > div {
  display: flex;
  flex-direction: column;
}

#listing-main input {
  background-color: white;
}

#listing-top {
  display: flex;
  justify-content: center;
}

#listing-top img {
  background-color: #E1E5EA;
  height: 375px;
  object-fit: contain;
  width: 500px;
}

#new-description {
  width: 400px;
}

#new-listing-container {
  background-color: #E1E5EA;
  border-radius: 20px;
  display: inline-block;
  font-weight: 500;
  margin-top: 10px;
  padding: 15px;
  position: relative;
}

#new-listing-container > div {
  align-items: center;
  background-color: #FFFBEB;
  border-radius: 10px;
  display: flex;
  height: 400px;
  justify-content: center;
  left: 435px;
  position: absolute;
  top: 65px;
  width: 500px;
}

#new-listing-container img {
  max-height: 100%;
  max-width: 100%;
}

#new-listing-container form {
  display: flex;
}

#new-listing-container form > div {
  display: flex;
  flex-direction: column;
}

#new-category {
  display: flex;
  flex: 1;
}

#new-category > div {
  display: flex;
  margin-top: 30px;
}

#new-category > div > div {
  margin-left: 3px;
}

#new-photo-container {
  margin-left: 20px;
}

#new-title {
  display: flex;
  width: 100%;
}

#new-title > div {
  margin-left: 3px;
}

#placeholder {
  width: 340px;
}

#pnf-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#pnf-container img {
  height: 60vh;
}

#upload-container {
  align-items: center;
  display: flex;
  flex: 1;
}

#upload-container > label {
  margin-bottom: 0;
  margin-left: 5px;
}

/*# sourceMappingURL=styles.css.map */
