li {
    list-style: none;
}

textarea {
    resize: none;
}

ul {
    padding: 0;
}

.btn-like {
    padding: 0;
}

.btn-save {
    display: none;
}

.liked {
    fill: blue;
}

.post-container {
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.post-container textarea {
    display: none;
}

.post-date {
    display: flex;
    justify-content: flex-end;
}

#user-id {
    display: none;
}