{% load static %}

<input type="hidden" id="star-empty"
    value="{% static 'images/star-empty.png' %}">
<input type="hidden" id="star-filled"
    value="{% static 'images/star-filled.png' %}">
<div id="list-view-main-container">
    <div id="sidebar">
        <button id="btn-sidebar" class="btn"><img
                src="{% static 'images/search.png' %}" alt="Search"></button>
        <div id="search-container" class="flex-column-mid-vertical no-display">
            <input type="text" id="searchbar" placeholder="Search by name">
            <h4>Category</h4>
            {{ categories }}
            <h4>Allergens</h4>
            <div class="flex-column-right-vertical">
                {% for allergen in allergens %}
                <div>
                    <input id="{{ allergen.0 }}" type="checkbox"
                        value="{{ allergen.0 }}">
                    <label for="{{ allergen.0 }}">{{ allergen.1 }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="flex-column flex1">
        <div id="list-view-list-container">
            {% for recipe in page_obj %}
            <div class="recipe-card" id="{{ recipe.id }}">
                <a href="{% url 'recipe_site' recipe.pk %}"
                    class="list-view-element">
                    <div class="card">
                        {% if recipe.image %}
                        <img class="card-img-top" src="{{ recipe.image.url }}"
                            alt="Recipe image">
                        {% else %}
                        <img class="card-img-top"
                            src="{% static 'images/meal_big.png' %}"
                            alt="Recipe image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text"><img
                                    src="{% static 'images/time.png' %}"
                                    alt="time">{{ recipe.total_time }} mins</p>
                        </div>
                    </div>
                </a>
                {% if user.is_authenticated %}
                {% if request.user != recipe.uploader %}
                <button id="{{ recipe.id }}" class="star">
                    {% if recipe in favorites %}
                    <img src="{% static 'images/star-filled.png' %}"
                        alt="remove">
                    {% else %}
                    <img src="{% static 'images/star-empty.png' %}" alt="add">
                    {% endif %}
                </button>
                {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div id="pagination-container">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1">&laquo; first</a>
                <a class="page-link"
                    href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                {% if page_obj.has_next %}
                <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="page-link"
                    href="?page={{ page_obj.paginator.num_pages }}">last
                    &raquo;</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
            </ul>
        </div>
    </div>
</div>
<script src="{% static 'scripts/list-view.js' %}"></script>