{% extends "recipes/layout.html" %}

{% load static %}

{% block title %}Add a new recipe{% endblock %}

{% block body %}
<h1>Add a new recipe</h1>
<div id="main-container">
    <div id="new-recipe-container">
        <div id="description-container">
            <div id="new-recipe">
                <div>
                    <div id="title">
                        <div>
                            <h4>Recipe title:</h4>
                            <input type="text">
                        </div>
                    </div>
                    <div id="new-recipe-description">
                        <textarea id="preparation" placeholder="How do we make this meal?"></textarea>
                    </div>
                </div>
                <div id="ingredients-container">
                    <div class="ingredient">
                        <button id="plus-button" class="btn btn-light" type="submit">+</button>
                        <h5>Add an ingredient</h5>
                    </div>
                    <form class="ingredient" id="new-ingredient-form">
                        <label>Name:<input id="ingredient-name" type="text"></label>
                        <label>Unit:<input id="ingredient-quantity" type="number"></label>
                        <select id="ingredient-unit">
                            {% for choice in choices %}
                            <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                        <label><input id="metric" type="checkbox">Imperial units</label>
                        <div>
                            <button class="btn btn-secondary" type="reset">Cancel</button>
                            <button class="btn btn-primary" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="next">
            <button class="btn btn-primary">Next</button>
        </div>
        <div id="image-container">
            <div id="back">
                <button class="btn btn-primary">Back</button>
            </div>
        </div>
    </div>
</div>
<div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Toast Title</strong>
        <small>Just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        This is the content of the toast.
    </div>
</div>
<script src="{% static 'scripts/new.js' %}"></script>
{% endblock %}