{% extends "recipes/layout.html" %}

{% load static %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block body %}
<input type="hidden" id="star-empty"
    value="{% static 'images/star-empty.png' %}">
<input type="hidden" id="star-filled"
    value="{% static 'images/star-filled.png' %}">
<div id="recipe-main-container" class="flex column mid-align">
    <input id="recipe-id" type="hidden" value="{{ recipe.id }}">
    <div class="flex column mid-align">
        <div id="recipe-top-container" class="flex column mid-justify">
            <div>
                <h1>{{ recipe.title }}</h1>
                {% if recipe.uploader == request.user %}
                <div>
                    <div id="options" class="flex mid-align">
                        <img src="{% static 'images/options.png' %}" class="options" alt="Options">
                        <select>
                            <option value="" selected hidden></option>
                            <option value="edit">Edit</option>
                            <option value="delete">Delete</option>
                        </select>
                        <form id="edit" method="post" action="{% url 'edit' recipe.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="method" value="edit">
                        </form>
                        <form id="delete" method="post" action="{% url 'edit' recipe.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="method" value="delete">
                            <input type="hidden" name="redirect" value="{{ referrer_url }}">
                        </form>
                    </div>
                </div>
                {% else %}
                <div>
                    <button id="{{ recipe.id }}" class="star">
                        {% if recipe in favorites %}
                        <img src="{% static 'images/star-filled.png' %}" alt="remove">
                        {% else %}
                        <img src="{% static 'images/star-empty.png' %}" alt="add">
                        {% endif %}
                    </button>
                </div>
                {% endif %}
            </div>
            {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.image.name }}">
            {% else %}
            <img src="{% static 'images/meal_big.png' %}" alt="Recipe image placeholder">
            {% endif %}
            <div class="recipe-mobile">
                {% if recipe.prep_time %}
                <p>Preparation time: {{ recipe.prep_time }} minutes</p>
                {% endif %}
                <p>Total time: {{ recipe.total_time }} minutes</p>
            </div>
            <div class="recipe-mobile">
                <p>Servings: <input id="servings" type="number" min="1" max="999" autocomplete="off" value="{{ recipe.servings }}"></p>
                <p class="recipe-list-item">{{ recipe.get_category_display }}</p>
            </div>
            <h2>Ingredients</h2>
            <ul id="recipe-ingredients">
                {% for ingredient in recipe.ingredients.all %}
                <li class="recipe-list-item">
                    <div class="recipe-ingredient-name">{{ ingredient.name }}</div>
                    <div class="recipe-quantity flex column mid-justify">
                        <div>{{ ingredient.quantity }}</div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="left-align">
            <h2>Allergens</h2>
            {% if recipe.allergens.all|length > 0 %}
            <div class="flex wrap">
                {% for allergen in recipe.allergens.all %}
                <div class="allergen-row recipe-list-item">{{ allergen.get_name_display }}</div>
                {% endfor %}
            </div>
            {% else %}
            No allergens listed for this recipe.
            {% endif %}
        </div>
        <div id="preparation-container" class="left-align">
            <h2>Preparation</h2>
            {% if steps|length == 1 %}
            <ul>
                <li>{{steps.0}}</li>
            </ul>
            {% else %}
            <ol>
                {% for step in steps %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal"></button>
                    <button id="proceed" type="button" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'scripts/utils.js' %}"></script>
<script src="{% static 'scripts/recipe.js' %}"></script>
{% endblock %}