{% extends "recipes/layout.html" %}

{% load static %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block body %}
<div id="recipe-main-container">
    <input id="recipe-id" type="hidden" value="{{ recipe.id }}">
    <div>
        <div id="recipe-top-container">
            <div>
                <h1>{{ recipe.title }}</h1>
                {% if recipe.uploader == request.user %}
                <div>
                    <div id="options">
                        <img src="{% static 'images/options.png' %}" alt="Options">
                        <select name="options" id="options">
                            <option value="" selected hidden></option>
                            <option value="edit">Edit</option>
                            <option value="delete">Delete</option>
                        </select>
                        <form id="edit" method="post" action="{% url 'edit' recipe.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="method" value="edit">
                        </form>
                        <form id="delete" method="post" action="{% url 'edit' recipe.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="method" value="delete">
                            <input type="hidden" name="redirect" value="{{ referrer_url }}">
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.image.name }}">
            {% else %}
            {% endif %}
            <p>Preparation time: {{ recipe.prep_time }} minutes</p>
            <p>Total time: {{ recipe.total_time }} minutes</p>
            <p>Servings: <input id="servings" type="number" min="1" max="999" value="{{ recipe.servings }}"></p>
            <ul id="recipe-ingredients">
                {% for ingredient in recipe.ingredients.all %}
                <li>
                    <div class="recipe-ingredient-name">{{ ingredient.name }}</div>
                    <div class="recipe-quantity">{{ ingredient.quantity }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Preparation</h2>
            {% if steps|length == 0 %}
            <p>{{recipe.preparation}}</p>
            {% else %}
            <ol>
                {% for step in steps %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'scripts/recipe.js' %}"></script>
{% endblock %}