body::-webkit-scrollbar {
    background-color: transparent;
    width: 0.01rem;
}

h1 {
    margin: 10px;
}

h4 {
    margin: 10px 0 10px 5px;
}

h5 {
    margin-bottom: 0;
    margin-right: 10px;
}

input {
    border-radius: 5px;
    margin: 0 5px;
}

input[type=file] {
    visibility: hidden;
}

input[type=number] {
    width: 60px;
}

label {
    margin-bottom: 0;
}

option {
    font-weight: bold;
}

select {
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
    text-align: center;
}

textarea {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}

ul li {
    list-style: none;
}

.allergen-row {
    background-color: #F9F3CC !important;
}

.btn {
    margin: 3px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.card {
    width: 100% !important;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-text {
    align-items: center;
    display: flex;
}

.card-text img {
    margin-right: 0.25rem;
}

.card-title {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column {
    flex-direction: column;
}

.current {
    margin: 0 10px;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.form-control {
    width: initial;
}

.ingredient {
    align-items: center;
    background-color: #B4B4B3;
    border-radius: 10px;
    display: flex;
    font-weight: bold;
    min-height: 50px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.ingredient input[type=text] {
    width: 200px;
}

.ingredient>div {
    align-items: center;
    display: flex;
}

.left-align {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.list-view-element {
    color: black;
    display: inline-block;
    width: 100%;
}

.list-view-element:hover {
    color: black;
    text-decoration: none;
}

.login-form {
    text-align: center;
}

.mid-align {
    align-items: center;
}

.mid-justify {
    justify-content: center;
}

.modal {
    left: initial;
    top: initial;
}

.no-display {
    display: none;
}

.options {
    pointer-events: none;
    position: absolute;
}

.padding-left {
    padding-left: 5px;
}

.padding-right {
    padding-right: 5px;
}

.recipe-ingredient-name {
    flex: 1;
}

.recipe-list-item {
    background-color: #D7E5CA;
    border-radius: 10px;
    margin: 3px 10px;
    padding: 2px 5px;
}

.recipe-quantity {
    width: 30%;
}

.recipe-quantity>div {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.remove {
    margin: 5px 5px 0 0;
    padding: 0 8px 2px 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.row-edit,
.row-show {
    flex: 1;
}

.row-show>div {
    margin-right: 5px;
    word-break: break-word;
}

.selected {
    background-color: #D8D9DA;
    border-radius: 5px;
    font-weight: bold;
}

.start-align {
    align-items: flex-start;
}

.step {
    margin-bottom: 5px;
    min-height: 100px;
    padding-right: 40px;
    overflow: hidden;
    resize: none;
}

.toast.show {
    z-index: 100;
}

.toast {
    position: fixed;
    top: 50px;
    z-index: -1;
}

.wrap {
    flex-wrap: wrap;
}

.wrap div {
    font-size: 1.2rem;
}


#btn-clear {
    position: absolute;
    right: 3px;
}

#btn-plus {
    font-size: 1rem;
    margin-right: 10px;
}

#btn-save {
    position: absolute;
    right: 20px;
}

#btn-sidebar:focus {
    box-shadow: none;
}

#image {
    align-items: center;
    justify-content: center;
    position: relative;
}

#image img {
    margin-top: 10px;
    object-fit: contain;
}

#image>label {
    left: 3px;
    position: absolute;
}

#image-container {
    height: 100%;
}

#image-container>div {
    height: 100%;
}

#image-container>div>div>div {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#image-container h2 {
    position: absolute;
}

#ingredients-container::-webkit-scrollbar {
    background-color: transparent;
    width: 0.01rem;
}

#list-view-list-container button {
    background-color: transparent;
    border: none;
    position: absolute;
}

#list-view-list-container>div {
    position: relative;
}

#list-view-list-container button:focus {
    outline: none;
}

#new-ingredient-form div {
    display: flex;
    flex: 1;
}

#new-main-container {
    display: flex;
    justify-content: center;
    position: relative;
}

#new-main-container input[type=number] {
    -moz-appearance: textfield;
}

#new-main-container input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#new-recipe-container {
    align-items: center;
    background-color: #F1EFEF;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    position: relative;
}

#new-recipe-container>div {
    width: 100%;
}

#new-recipe-description {
    overflow-y: scroll;
}

#new-recipe-description::-webkit-scrollbar {
    background-color: transparent;
    width: 0.1rem;
}

#new-recipe-description div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#page-number {
    margin: 0 5px;
}

#plus-button {
    margin-right: 10px;
    padding-top: 0;
}

#pnf-image {
    height: 60vh;
}

#preparation-container li {
    text-align: justify;
}

#preparation-container ol {
    padding-right: 30px;
}

#recipe-ingredients {
    padding: 0;
}

#recipe-ingredients li {
    background-color: #D2E0FB;
    display: flex;
    justify-content: space-between;
}

#recipe-main-container {
    width: 100%;
}

#recipe-main-container li {
    font-size: 1.2rem;
}

#recipe-top-container {
    width: 100%;
}

#recipe-top-container button {
    background-color: transparent;
    border: none;
}

#recipe-top-container button:focus {
    outline: none;
}

#recipe-top-container>div {
    display: flex;
    justify-content: space-between;
}

#recipe-top-container>div>div {
    align-items: center;
    display: flex;
    position: relative;
}

#recipe-top-container select {
    border: none;
    width: 50px;
}

#recipe-top-container select:focus {
    outline: none;
}

#recipe-top-container .star {
    margin-right: 10px;
}

#sidebar {
    align-content: center;
    background-color: #F1EFEF;
    display: flex;
    flex-direction: column;
}

#times-container {
    align-items: flex-start;
    justify-content: flex-start;
}

#times-container label {
    font-size: 1.2rem;
    margin: 5px;
}

#title {
    margin-bottom: 15px;
}

@media(max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        margin-left: 10px;
    }

    h4 {
        margin-right: 5px;
        text-align: justify;
    }

    .allergen-row {
        margin: 3px !important;
    }

    .btn-container {
        justify-content: space-between;
    }

    .empty-div {
        display: none;
    }

    .ingredient-name {
        max-height: 50px;
        overflow-y: auto;
        width: 60%;
    }

    .ingredient-name::-webkit-scrollbar {
        background-color: transparent;
        width: 0.01rem;
    }

    .left-align>div {
        padding: 0 10px;
    }

    .new-button {
        position: fixed;
        right: 20px;
        bottom: 10px;
    }

    .options {
        right: 30px;
    }

    .padding-left,
    .padding-right {
        padding: initial;
    }

    .recipe-mobile {
        flex-direction: column;
    }

    .row-edit {
        flex-direction: column;
        width: 100%;
    }

    .row-edit>div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .row-edit>div>label {
        display: flex;
        flex: 1;
        margin-bottom: 5px;
    }

    .row-edit input[type=text],
    input[type=number] {
        flex: 1;
    }

    .row-edit>label {
        display: flex;
        margin-bottom: 5px;
        width: 100%;
    }

    .row-edit>label>input {
        margin-right: 3px;
        padding-right: 0;
    }

    #allergens {
        display: flex;
        flex-direction: column;
    }

    #allergens>label {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    #btn-clear {
        bottom: 3px;
    }

    #btn-save {
        top: 10px;
    }

    #image {
        padding-top: 50px;
    }

    #image img {
        margin-bottom: 30px;
        max-height: 100%;
        max-width: 100%;
    }

    #image>label {
        bottom: 3px;
    }

    #image-container>div>div {
        flex-direction: column;
    }

    #ingredients-container {
        min-height: 400px;
    }

    #ingredients-container select {
        margin-right: 3px;
    }

    #ingredient-name {
        flex: 1;
        margin-right: 3px;
        padding-right: 0;
    }

    #list-view-list-container {
        flex-direction: column;
        max-width: 100%;
    }

    #list-view-list-container button {
        bottom: 20px;
        right: 20px;
    }

    #list-view-list-container>div {
        width: 100%;
    }

    #new-ingredient-form {
        align-items: flex-start;
        flex-direction: column;
    }

    #new-ingredient-form>div {
        justify-content: space-between;
        margin-bottom: 5px;
        width: 100%;
    }

    #new-ingredient-form>div>label {
        display: flex;
        flex: 1;
    }

    #new-ingredient-form>div>label>input {
        flex: 1;
    }

    #new-ingredient-form>label {
        display: flex;
        margin-bottom: 5px;
        width: 100%;
    }

    #new-recipe-container {
        border-radius: 20px;
        width: 100%;
    }

    #new-recipe-description {
        max-height: 300px;
    }

    #preparation-container ol>li {
        font-size: 1rem;
    }

    #recipe-main-container>div {
        width: 100%;
    }

    #recipe-top-container p {
        font-size: 1.2rem;
        margin: 10px 10px 0 10px;
    }

    #options>select {
        margin-right: 10px;
    }

    #title>div {
        width: 100%;
    }

    #title input {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1750px) {

    .btn {
        font-size: 0.8rem;
    }

    .ingredient {
        font-size: 0.8rem;
    }

    .ingredient input[type=text] {
        width: 70%;
    }

    .ingredient>label {
        align-items: center;
        display: flex;
    }

    .sidebar-open {
        min-width: 20%;
    }
}

@media (min-width: 601px) {
    .empty-div {
        height: 65px;
    }

    .list-view-element {
        margin: 10px;
    }

    .new-button {
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .options {
        right: 20px;
    }

    .row-show>div {
        width: 50%;
    }

    .sidebar-open {
        width: 15%;
    }

    .width50 {
        width: 50%;
    }

    #allergens {
        text-align: justify;
    }

    #btn-clear {
        bottom: -45px;
    }

    #btn-save {
        bottom: 10px;
    }

    #image img {
        margin-top: 40px;
        max-height: 350px;
    }

    #image>label {
        bottom: -45px;
    }

    #image-container>div>div>div {
        height: 486px;
        padding-top: 20px;
    }

    #ingredients-container {
        height: 400px;
        overflow-y: scroll;
    }

    #list-view-list-container {
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #list-view-list-container button {
        bottom: 35px;
        right: 35px;
    }

    #list-view-list-container>div {
        width: 25%;
    }

    #list-view-main-container {
        display: flex;
    }

    #new-ingredient-form div {
        justify-content: flex-end;
    }

    #new-ingredient-form>div>label {
        display: contents;
    }

    #new-recipe-container {
        height: 550px;
        width: 90%;
    }

    #new-recipe-container>div>div {
        display: flex;
    }

    #new-recipe-description {
        height: 410px;
    }

    #preparation-title {
        display: flex;
        justify-content: space-between;
    }

    #recipe-main-container>div {
        min-width: 600px;
        width: 40%;
    }

    #recipe-top-container p {
        font-size: 1.5rem;
        padding-top: 10px;
    }

    #sidebar {
        min-height: calc(100vh - 56px);
    }

    #title input {
        width: 400px;
    }

    #title>div {
        align-items: center;
        display: flex;
    }
}