h1 {
    margin: 10px;
}

h5 {
    margin-bottom: 0;
    margin-right: 10px;
}

img {
    margin-top: 10px;
    max-height: 400px;
    object-fit: contain;
}

input {
    border-radius: 5px;
    margin: 0 5px;
}

input[type=file] {
    visibility: hidden;
}

input[type=number] {
    -moz-appearance: textfield;
    width: 60px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=text] {
    width: 200px;
}

label {
    margin-bottom: 0;
}

textarea {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}

ul li {
    list-style: none;
}

.btn {
    margin: 3px
}

.btn-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.ingredient {
    align-items: center;
    background-color: bisque;
    border-radius: 10px;
    display: flex;
    font-weight: bold;
    height: 50px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.new-button {
    position: absolute;
    right: 20px;
    top: 10px;
}

.recipe-ingredient-name {
    background-color: bisque;
}

.recipe-quantity {
    background-color: cadetblue;
}

.remove {
    margin: 5px 5px 0 0;
    padding: 0 8px 2px 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.step {
    margin-bottom: 5px;
    min-height: 100px;
    padding-right: 40px;
    overflow: hidden;
    resize: none;
}

.toast {
    position: absolute;
    top: -50px;
}

#btn-save {
    bottom: 10px;
    position: absolute;
    right: 20px;
}

#image {
    align-items: center;
    justify-content: center;
}

#image-container {
    height: 100%;
}

#image-container>div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#image-container>div>div {
    display: flex;
}

#image-container>div>div>div {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 486px;
    padding-top: 20px;
}

#image-container h2 {
    position: absolute;
}

#ingredients-container {
    display: flex;
    flex-direction: column;
    height: 520px;
    min-width: 600px;
    overflow-y: scroll;
    padding-left: 10px;
    padding-top: 50px;
}

#ingredients-container::-webkit-scrollbar {
    background-color: transparent;
}

#main-container {
    display: flex;
    justify-content: center;
    position: relative;
}

#new-ingredient-form div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#new-recipe {
    display: flex;
}

#new-recipe>div {
    flex: 1;
}

#new-recipe-container {
    align-items: center;
    background-color: lightblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 550px;
    margin-top: 10px;
    padding: 10px 20px;
    position: relative;
    width: 90%;
}

#new-recipe-container div {
    width: 100%;
}

#new-recipe-description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 470px;
    overflow-y: scroll;
}

#new-recipe-description::-webkit-scrollbar {
    background-color: transparent;
}

#new-recipe-description div {
    display: flex;
    justify-content: flex-end;
}

#plus-button {
    margin-right: 10px;
    padding-top: 0;
}

#recipe-ingredients li {
    display: flex;
}

#times-container {
    align-items: flex-start;
    justify-content: flex-start;
}

#times-container label {
    font-size: 1.2rem;
    margin: 5px;
}


#title {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#title>div {
    display: flex;
}