h1 {
    margin: 10px;
}

h4 {
    margin: 10px 0 10px 5px;
}

h5 {
    margin-bottom: 0;
    margin-right: 10px;
}

input {
    border-radius: 5px;
    margin: 0 5px;
}

input[type=file] {
    visibility: hidden;
}

input[type=number] {
    width: 60px;
}

input[type=text] {
    width: 200px;
}

label {
    margin-bottom: 0;
}

option {
    font-weight: bold;
}

select {
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
}

textarea {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}

ul li {
    list-style: none;
}

.allergen-row {
    background-color: #F9F3CC !important;
}

.btn {
    margin: 3px;
}

.btn-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.card {
    width: 100% !important;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-text {
    align-items: center;
    display: flex;
}

.card-text img {
    margin-right: 0.25rem;
}

.flex-column-right-vertical {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.flex-column-mid-vertical {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flex-column-mid-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-row div {
    font-size: 1.2rem;
}

.left-align {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.list-view-element {
    color: black;
    display: inline-block;
    margin: 10px;
    width: 100%;
}

.list-view-element:hover {
    color: black;
    text-decoration: none;
}

.ingredient {
    align-items: center;
    background-color: bisque;
    border-radius: 10px;
    display: flex;
    font-weight: bold;
    height: 50px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.ingredient>div {
    align-items: center;
    display: flex;
}

.new-button {
    position: absolute;
    right: 20px;
    top: 10px;
}

.no-display {
    display: none;
}

.recipe-ingredient-name {
    max-width: 80%;
}

.recipe-list-item {
    background-color: #D7E5CA;
    border-radius: 10px;
    margin: 3px;
    padding: 2px 5px;
}

.recipe-quantity {
    align-items: center;
    display: flex;
}

.remove {
    margin: 5px 5px 0 0;
    padding: 0 8px 2px 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.sidebar-open {
    width: 15%;
}

.step {
    margin-bottom: 5px;
    min-height: 100px;
    padding-right: 40px;
    overflow: hidden;
    resize: none;
}

.toast {
    position: absolute;
    top: -50px;
}

#btn-clear {
    bottom: 3px;
    position: absolute;
    right: 3px;
}

#btn-sidebar:focus {
    box-shadow: none;
}

#btn-save {
    bottom: 10px;
    position: absolute;
    right: 20px;
}

#image {
    align-items: center;
    justify-content: center;
    position: relative;
}

#image img {
    margin-top: 10px;
    max-height: 400px;
    object-fit: contain;
}

#image-container {
    height: 100%;
}

#image-container>div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#image-container>div>div {
    display: flex;
}

#image-container>div>div>div {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 486px;
    padding-top: 20px;
}

#image-container h2 {
    position: absolute;
}

#ingredients-container {
    display: flex;
    flex-direction: column;
    height: 520px;
    min-width: 600px;
    overflow-y: scroll;
    padding-left: 10px;
    padding-top: 52px;
}

#ingredients-container::-webkit-scrollbar {
    background-color: transparent;
}

#list-view-list-container {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

#list-view-list-container button {
    background-color: transparent;
    border: none;
    bottom: 35px;
    position: absolute;
    right: 35px;
}

#list-view-list-container button:focus {
    outline: none;
}

#list-view-list-container>div {
    display: flex;
    position: relative;
    width: 25%;
}

#list-view-main-container {
    display: flex;
}

#new-ingredient-form div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#new-main-container {
    display: flex;
    justify-content: center;
    position: relative;
}

#new-main-container input[type=number] {
    -moz-appearance: textfield;
}

#new-main-container input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#new-recipe {
    display: flex;
}

#new-recipe>div {
    flex: 1;
}

#new-recipe-container {
    align-items: center;
    background-color: lightblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 550px;
    margin-top: 10px;
    padding: 10px 20px;
    position: relative;
    width: 90%;
}

#new-recipe-container>div {
    width: 100%;
}

#new-recipe-description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 470px;
    overflow-y: scroll;
}

#new-recipe-description::-webkit-scrollbar {
    background-color: transparent;
}

#new-recipe-description div {
    display: flex;
    justify-content: flex-end;
}

#plus-button {
    margin-right: 10px;
    padding-top: 0;
}

#preparation-container li {
    text-align: justify;
}

#recipe-ingredients {
    padding: 0;
}

#recipe-ingredients li {
    background-color: #D2E0FB;
    display: flex;
    justify-content: space-between;
}

#recipe-main-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#recipe-main-container>div {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    width: 40%;
}

#recipe-main-container li {
    font-size: 1.2rem;
}

#recipe-top-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}

#recipe-top-container>div {
    display: flex;
    justify-content: space-between;
}

#recipe-top-container>div img {
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 22px;
}

#recipe-top-container>div>div {
    align-items: center;
    display: flex;
    position: relative;
}

#recipe-top-container img {
    max-height: 100%;
    max-width: 100%;
}

#recipe-top-container p {
    font-size: 1.5rem;
    padding-top: 10px;
}

#recipe-top-container select {
    border: none;
    width: 50px;
}

#recipe-top-container select:focus {
    outline: none;
}

#sidebar {
    align-content: center;
    background-color: #D2E0FB;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px);
}

#times-container {
    align-items: flex-start;
    justify-content: flex-start;
}

#times-container label {
    font-size: 1.2rem;
    margin: 5px;
}

#title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

#title>div {
    align-items: center;
    display: flex;
}