{% extends "network/layout.html" %}

{% load static %}

{% block title %}
User {{ user.username }}
{% endblock %}

{% block pagetitle %}
{% if request.user == user %}
<h1>My Profile</h1>
{% else %}
<h1>User {{user.username}}</h1>
{% endif %}
<div>
    <h4>
        <span id="follower-count">
            {{ user.followers.count }}
        </span>
        <span>Followers</span>
    </h4>
</div>
<h4>{{ user.following.count }} Following</h4>
{% if user != request.user %}
{% if followed %}
<button id="follow" class="btn btn-primary" type="submit">Unfollow</button>
{% else %}
<button id="follow" class="btn btn-primary" type="submit">Follow</button>
{% endif %}
{% endif %}
{% endblock %}

{% block body %}
<div id="user-id">{{ user.id }}</div>
{% include 'network/posts.html' %}
<script src="{% static 'scripts/user.js' %}"></script>
{% endblock %}