body {
    padding: 20px;
    background-color: #FAF3F0;
}

#bid-form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    width: 400px;
}

#bid-form input {
    margin: 5px;
    width: 250px;
}

#bid-form button {
    margin: 5px;
    width: 250px;
}

#listing-container {
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    display: flex;
    height: 40vh;
    margin: 10px;
    padding: 5px;
}

#listing-container:hover {
    border-color: #2B2730;
}

#listing-container>div {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 30%;
}

#listing-container li {
    list-style: none;
}

#listing-container a {
    display: inherit;
}

#listing-container img {
    width: 100%;
}

#listing-details {
    display: flex;
}

#listing-details a {
    color: black;
}

#listing-details ul a {
    color: #94ADD7;
}

#listing-details a:hover {
    color: #7C73C0;
    text-decoration: none;
}

#listing-details>div {
    margin-right: 40px;
}

#listing-main {
    margin: 10px;
}

#listing-top {
    display: flex;
    justify-content: space-between;
    height: 400px;
}