body {
    padding: 10px;
    background-color: #FAF3F0;
}

ul>a {
    color: black;
}

ul>a:hover {
    color: #2B2730;
    text-decoration: none;
}

img {
    height: 40vh;
    margin-right: 20px;
}

ul {
    list-style: none;
}

#listing-container {
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    display: flex;
    margin: 10px;
    padding: 5px;
}

#listing-container:hover {
    border-color: #2B2730;
}