body {
    padding: 10px;
    background-color: #FAF3F0;
}

ul>a {
    color: black;
}

ul>a:hover {
    color: #2B2730;
    text-decoration: none;
}

#listing-container {
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    display: flex;
    height: 40vh;
    margin: 10px;
    padding: 5px;
}

#listing-container:hover {
    border-color: #2B2730;
}

#listing-container>div {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 30%;
}

#listing-container li {
    list-style: none;
}

#listing-container>li>div {
    flex: 1;
}

#listing-container img {
    width: 100%;
}