{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
<h2>Active Listings</h2>
<div>
    <ul>
        {% for listing in listings %}
        <div class="listing-container">
            <div class="div-index">
                <a href="{% url 'listing' listing_id=listing.id %}">
                    {% if listing.photo %}
                    <img src="{{ listing.photo.url }}" alt="{{ listing.title }}">
                    {% else %}
                    <img src="{% static 'images/image.png' %}"
                        alt="{{ listing.title }}">
                    {% endif %}
                </a>
            </div>
            <li>
                <div class="listing-details">
                    <div class="div-index listing-left">
                        <h3>
                            <a
                                href="{% url 'listing' listing_id=listing.id %}">
                                {{ listing.title }}
                            </a>
                        </h3>
                        <div>
                            {{ listing.description }}
                        </div>
                    </div>
                    <div class="div-index listing-right">
                        <div>
                            <h3>Highest bid:
                                {% if listing.bids.all %}
                                {{ listing.bids.all|dictsortreversed:"value"|first }}
                            </h3>
                            {% else %}
                            <h5>Currently there are no bids.</h5>
                            {% endif %}
                        </div>
                        <div>
                            {% if listing.bids.all %}
                            {% with highest_bid=listing.bids.all|dictsortreversed:"value"|first %}
                            {% if listing.price > highest_bid.value %}
                            <h3>
                                Price: ${{ listing.price }}
                            </h3>
                            {% endif %}
                            {% endwith %}
                            {% else %}
                            <h3>
                                Price: ${{ listing.price }}
                            </h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}