{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<div id="main-container">
    <ul>
        {% for listing in listings %}
        <div id="listing-container">
            <div>
                <a href="{% url 'listing' listing_id=listing.id %}">
                    <img src="{{ listing.photo.url }}" alt="{{ listing.title }}">
                </a>
            </div>
            <li>
                <div id="listing-details">
                    <div>
                        <h4>
                            <a href="{% url 'listing' listing_id=listing.id %}">
                                {{ listing.title }}
                            </a>
                        </h4>
                        <h5>Highest bid:</h5>
                        {% if listing.bids.all.exists %}
                        {{ listing.bids.all|dictsortreversed:"value"|first }}
                        {% else %}
                        <div>Currently there are no bids.</div>
                        <div>
                            Starting price: ${{ listing.price }}
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        <h5>Comments on this listing:</h5>
                        {% if listing.comments.all.exists %}
                        <ul>
                            {% for comment in listing.comments.all %}
                            <li>
                                <div>
                                    <div>
                                        {{ comment.text }}
                                    </div>
                                    <div>
                                        <a href="{% url 'user' comment.user.username %}">{{ comment.user }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div>No comments yet.</div>
                        {% endif %}
                    </div>
                </div>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}