{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title.label }}: {{ form.title }}
    {{ form.description.label }}: {{ form.description }}
    {{ form.price.label }}: {{ form.price }}
    {{ form.photo.label }}: {{ form.photo }}
    {{ form.pub_date.as_hidden }}
    {{ form.user.as_hidden }}
    <button type="submit" class="btn btn-dark">Add new listing</button>
</form>
{% endblock %}