{% extends "auctions/layout.html" %}

{% block title %}
Category {{ category }}
{% endblock %}

{% block body %}
<h1>Active listings in {{ category }} category:</h1>

{% if listings %}
<ul class="list">
    {% for listing in listings %}
    <li><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<h3>Currently no active listings in this category.</h3>
{% endif %}

<h3><a href="{% url 'categories' %}">Back to all categories</a></h3>
{% endblock %}