textarea {
    min-height: 400px;
}

.archive {
    position: absolute;
    right: 0;
    top: 0;
}

.body {
    height: 40vh;
    margin-top: 10px;
    padding: 20px;
}

.contents {
    align-items: center;
    display: flex;
    flex: 1;
    padding: 10px;
}

.contents:hover {
    cursor: pointer;
}

.email {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    font-weight: bold;
    margin: 5px;
}

.icon {
    margin: 5px 10px;
}

.icon:hover {
    cursor: pointer;
}

.read {
    background-color: #D8D9DA;
    font-weight: normal;
}

.timestamp {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.sender {
    flex: 2;
    font-size: 1.2rem;
}

.subject {
    flex: 2;
    font-size: 1rem;
}

#single_email-view {
    position: relative;
}